/* Layout skeleton */
*,
::after,
::before {
    box-sizing: border-box;
}

body {
    background: #f6f6f6;
}

h3 {
    font-size: 1.2375rem;
    color: #fff;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
}

p {
    margin: 0;
}

li {
    list-style: none;
}

.ui-chatbot-box {
    width: 400px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.15);
}

.ui-chatbot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-chatbot-header {
    border-radius: 10px 10px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    position: relative;
    overflow: hidden;
}

.uich-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    content: '';
    z-index: 3;
}

.uich-content {
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 12px;
}

.uich-avatar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.uich-title {
    color: var(--White, #fff);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.32px;
}

.uich-chat-btn {
    border: 0;
    border-radius: 5px;
    background: #154dd2;
    padding: 6px 12px;
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.32px;
}

.uich-avatar-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-left: -5px;
    display: inline-block;
}

.ui-chatbot-time p {
    color: var(--Paragraph-Text-Color, #6a6f7d);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.48px;
    text-align: center;
}

.ui-chatbot-body {
    padding: 24px;
}

.ui-single-chat {
    display: flex;
    gap: 8px;
}

.ui-chatbot-avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    overflow: hidden;
}

.ui-chatbot-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ui-chat-writter {
    color: var(--Sub-Paragraph-Text-Color, #9ca6af);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.42px;
    margin-bottom: 8px;
}

.ui-chat-msg {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.42px;
    padding: 11px 12px;
}

.company-msg {
    border-radius: 0px 12px 12px 12px;
    background: #e7e7e7;
    color: #474b4f;
}

.client-msg {
    border-radius: 12px 0px 12px 12px;
    background: var(--Primary-Color-Blue, #2763fe);
    color: #fff;
}

ul.uifs-collections li a {
    color: var(--Primary-Color-Blue, #2763fe);
    text-align: right;

    /* Paragraph 14pt */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: -0.42px;
    display: inline-block;
    padding: 10px 14px;
    border-radius: 50px;
    border: 1px solid var(--Primary-Color-Blue, #2763fe);
}

.ui-chatbot-fast-support .uifs-collections {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: end;
}

.ui-chatbot-send-box {
    padding: 0 24px 40px 24px;
}

.uimf-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px !important;
}

.uimf-msg-input {
    border: 1px solid var(--Sub-Paragraph-Text-Color, #9ca6af);
    border-radius: 100px;
    background: #fff;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 10px 20px !important;
    color: var(--Sub-Paragraph-Text-Color, #9ca6af);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.14px;
    width: 265px;
}

.uimf-send-btn {
    background: transparent;
    border: 0;
    padding: 0;
}

.ui-chatbot-chat-wrapper {
    height: 420px;
    overflow-y: auto;
    width: calc(100% + 10px);
    overflow-y: auto;
    padding-right: 10px;
}

.ui-chatbot-chat-wrapper {
    height: 420px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    gap: 12px;
}

.ui-chatbot-chat-wrapper::-webkit-scrollbar-track {
    /* background-color: #f5f5f5; */
    background: transparent;
}

.ui-chatbot-chat-wrapper::-webkit-scrollbar {
    width: 5px;
    /* background-color: #f5f5f5; */
    background: transparent;
}

.ui-chatbot-chat-wrapper::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.ui-single-chat-client {
    display: flex;
    justify-content: end;
}

.ui-single-chat-client .ui-chatbot-chat-content {
    max-width: 305px;
}

.read-status {
    color: var(--Sub-Title-Text-Color, #474b4f);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.24px;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: end;
    margin-top: 4px;
    display: none;
}

.ui-last-client-msg .read-status {
    display: flex;
}

.file-input__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-input__label {
    cursor: pointer;
}

.file-uploaded .file-input__label {
    background: #38c976 !important;
    border: 1px solid #38c976 !important;
}
